.hero {
    display: grid;
    row-gap: 48px;
    padding-block: 64px;
}

.hero h1 {
    font-size: var(--fs-1);
    color: var(--color-blue-900);
}

.hero picture {
    max-width: 37.5rem;
    justify-self: center;
    margin-left: -20px;
    margin-right: -20px;
    pointer-events: none;
}

.hero p {
    margin-block: 24px 40px;
}

@media (width >= 50.625em) {
    .hero {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero__text {
        padding-inline-end: 0;
        padding-block: 42px;
    }

    .hero picture {
        max-width: none;
        position: relative;
        top: 0;
        margin-left: 0;
        margin-right: 0;
        /* right: -50%;
        transition: 42% -20; */
    }
}

@media (width >= 75em){
    .hero picture {
        max-width: 1040px;
        /* translate: 65% 25%; */
    }

    .hero__text {
        /* padding-inline-end: 0; */
        padding-block: 110px;
    }
}