@import url("/css/global/boilerplate.css");
@import url("/css/Componenets/header.css");
@import url("/css/global/button.css");
@import url("/css/global/font.css");
@import url("/css/global/layout.css");
@import url("/css/Componenets/hero.css");
@import url("/css/Componenets/course.css");
@import url("/css/Componenents/footer.css");